In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from config import password

In [2]:
# Read dataset after columns renamed:
df = pd.read_csv("../resources/OSMI_MHIT_clean_not_encoded.csv")
df.head()

,Unnamed: 0,self_employed,company_size,tech_company,tech_role,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,...,mh_eff_tx_impact_on_work,mh_not_eff_tx_impact_on_work,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote
0,1,0,26-100,1.0,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,...,Not applicable to me,Not applicable to me,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
1,2,0,6-25,1.0,NaN,No,Yes,Yes,Yes,Yes,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
2,3,0,6-25,1.0,NaN,No,NaN,No,No,I don't know,...,Not applicable to me,Not applicable to me,38,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
3,4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sometimes,Sometimes,43,male,United Kingdom,NaN,United Kingdom,NaN,Supervisor/Team Lead,Sometimes
4,5,0,6-25,0.0,1.0,Yes,Yes,No,No,No,...,Sometimes,Sometimes,43,Female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes

In [3]:
# Create engine and link to local postgres database:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Mental_Health_vs_Economics')
connect = engine.connect()

In [4]:
#print(df.columns.tolist())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1433 entries, 0 to 1432
Data columns (total 64 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             1433 non-null   int64
 1   self_employed                          1433 non-null   int64
 2   company_size                           1146 non-null   object
 3   tech_company                           1146 non-null   float64
 4   tech_role                              263 non-null    float64
 5   mh_coverage                            1146 non-null   object
 6   mh_coverage_awareness                  1013 non-null   object
 7   mh_employer_discussion                 1146 non-null   object
 8   mh_resources_provided                  1146 non-null   object
 9   mh_anonimity                           1146 non-null   object
 10  mh_medical_leave                       1146 non-null   object
 11  mh_discussion_negative_impact          1146 non-null   object
 12  ph_discussion_negative_impact          1146 non-null   object
 13  mh_discussion_coworkers                1146 non-null   object
 14  mh_discussion_supervisors              1146 non-null   object
 15  mh_equal_ph                            1146 non-null   object
 16  mh_observed_consequences_coworkers     1146 non-null   object
 17  mh_coverage_2                          287 non-null    float64
 18  mh_online_resources                    287 non-null    object
 19  mh_dx_revealed_clients                 287 non-null    object
 20  mh_dx_revealed_clients_impact          144 non-null    object
 21  mh_dx_revealed_coworkers               287 non-null    object
 22  mh_coworkers_reveal_negative_impact    287 non-null    object
 23  mh_product_impact                      287 non-null    object
 24  mh_product_impact_perceived            204 non-null    object
 25  prev_employers                         1433 non-null   int64
 26  prev_mh_benefits                       1264 non-null   object
 27  prev_mh_benefits_awareness             1264 non-null   object
 28  prev_mh_discussion                     1264 non-null   object
 29  prev_mh_resources                      1264 non-null   object
 30  prev_mh_anonimity                      1264 non-null   object
 31  prev_mh_discuss_negative_consequences  1264 non-null   object
 32  prev_ph_discuss_negative_consequences  1264 non-null   object
 33  prev_mh_discussion_coworkers           1264 non-null   object
 34  prev_mh_discussion_supervisors         1264 non-null   object
 35  prev_mh_importance_employer            1264 non-null   object
 36  prev_mh_consequences_coworkers         1264 non-null   object
 37  future_ph_specification                1433 non-null   object
 38  why_why_not                            1095 non-null   object
 39  future_mh_specification                1433 non-null   object
 40  why_why_not2                           1126 non-null   object
 41  mh_hurt_on_career                      1433 non-null   object
 42  mh_neg_view_coworkers                  1433 non-null   object
 43  mh_sharing_friends_family              1433 non-null   object
 44  mh_bad_response_workplace              1344 non-null   object
 45  mh_for_others_bad_response_workplace   657 non-null    object
 46  mh_family_history                      1433 non-null   object
 47  mh_dx_past                             1433 non-null   object
 48  mh_dx_current                          1433 non-null   object
 49  yes_what_dx?                           568 non-null    object
 50  maybe_whats_your_dx                    322 non-null    object
 51  mh_dx_pro                              1433 non-null   object
 52  yes_condition_dx                       711 non-null    object
 53  mh_sought_pro_tx                       1433 non-null   int64
 54  mh_eff_tx_impact_on_work               1433 non-null   object
 55  mh_not_eff_tx_impact_on_work           1433 non-null   object
 56  age                                    1433 non-null   int64
 57  gender                                 1430 non-null   object
 58  country_live                           1433 non-null   object
 59  live_us_state                          840 non-null    object
 60  country_work                           1433 non-null   object
 61  work_us_state                          851 non-null    object
 62  work_position                          1433 non-null   object
 63  remote                                 1433 non-null   object
dtypes: float64(3), int64(5), object(56)
memory usage: 716.6+ KB

In [5]:
from sqlalchemy.types import Integer, Text, String, DateTime

In [6]:
# Log-in dataset after columns renamed and first row drop:
table_name = "dataset_raw"
df.to_sql(
    table_name,
    engine,
    if_exists = "replace")

In [7]:
# Create session:
session = Session(engine)

In [8]:
# Reflect an existing database into a new model:
Base = automap_base()

# Reflect the tables:
Base.prepare(engine, reflect=True)

Base.classes.keys()

[]

In [9]:
df = pd.read_sql("SELECT live_us_state FROM dataset_raw", connect)
df.head()

  live_us_state
0          None
1      Illinois
2          None
3          None
4      Illinois