In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [72]:
# Loading data
file_path = Path("Resources/cleaned_data.csv")
mental_health_df = pd.read_csv(file_path)
mental_health_df.head()

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
0,0,0,High School or GED,0,0,0.0,0,1,0,1,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
1,1,1,Some Phd,1,0,0.0,0,1,0,0,...,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
2,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
3,0,0,Some Undergraduate,1,0,NaN,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
4,1,1,Completed Undergraduate,1,1,35.0,1,1,0,1,...,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet

In [73]:
# Drop NaN 
mental_health_df = mental_health_df.dropna()

In [74]:
# Binary encoding using Pandas 
mental_health_df = pd.get_dummies(mental_health_df, columns=["Education", "Age", "Gender", "Household Income", "Region", "Device Type"])
mental_health_df.head()

,I am currently employed at least part-time,I identify as having a mental illness,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,Total length of any gaps in my resume inÂ months.,...,Region_New England,Region_Pacific,Region_South Atlantic,Region_West North Central,Region_West South Central,Device Type_Android Phone / Tablet,Device Type_MacOS Desktop / Laptop,Device Type_Other,Device Type_Windows Desktop / Laptop,Device Type_iOS Phone / Tablet
0,0,0,0,0,0.0,0,1,0,1,24,...,0,0,0,0,0,1,0,0,0,0
1,1,1,1,0,0.0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,1,0,1,0,0.0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,1,1,1,1,35.0,1,1,0,1,33,...,0,0,0,0,0,0,0,0,0,1
5,1,0,1,0,0.0,0,1,1,0,0,...,0,0,1,0,0,1,0,0,0,0

In [92]:
mental_health_df.count()

I am currently employed at least part-time                     294
I identify as having a mental illness                          294
I have my own computer separate from a smart phone             294
I have been hospitalized before for my mental illness          294
How many days were you hospitalized for your mental illness    294
                                                              ...
Device Type_Android Phone / Tablet                             294
Device Type_MacOS Desktop / Laptop                             294
Device Type_Other                                              294
Device Type_Windows Desktop / Laptop                           294
Device Type_iOS Phone / Tablet                                 294
Length: 64, dtype: int64

In [93]:
# Define features set
X = mental_health_df.copy()
X = X.drop("I am currently employed at least part-time", axis=1)
X.head()

,I identify as having a mental illness,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,Total length of any gaps in my resume inÂ months.,Annual income (including any social welfare programs) in USD,...,Region_New England,Region_Pacific,Region_South Atlantic,Region_West North Central,Region_West South Central,Device Type_Android Phone / Tablet,Device Type_MacOS Desktop / Laptop,Device Type_Other,Device Type_Windows Desktop / Laptop,Device Type_iOS Phone / Tablet
0,0,0,0,0.0,0,1,0,1,24,35,...,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0.0,0,1,0,0,1,22,...,0,0,0,0,0,0,1,0,0,0
2,0,1,0,0.0,0,1,0,0,0,100,...,0,1,0,0,0,0,1,0,0,0
4,1,1,1,35.0,1,1,0,1,33,32,...,0,0,0,0,0,0,0,0,0,1
5,0,1,0,0.0,0,1,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [94]:
# Define the target set.
y = mental_health_df["I am currently employed at least part-time"].ravel()
y[:5]

array([0, 1, 1, 1, 1], dtype=int64)

In [95]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [96]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(220, 63)
(74, 63)
(220,)
(74,)

In [97]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [98]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [99]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [100]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [101]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           17            7
Actual 1            0           50

In [102]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [103]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           17            7
Actual 1            0           50

Accuracy Score : 0.9054054054054054
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.71      0.83        24
           1       0.88      1.00      0.93        50

    accuracy                           0.91        74
   macro avg       0.94      0.85      0.88        74
weighted avg       0.92      0.91      0.90        74

In [19]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.05479564, 0.083734  , 0.42871538, 0.32290918, 0.01986699,
       0.02382607, 0.0025937 , 0.0238055 , 0.01947929, 0.02027425])

In [20]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.42871537959784756, 'age'),
 (0.322909180511852, 'month_num'),
 (0.08373400008559587, 'term'),
 (0.054795639837519644, 'amount'),
 (0.023826066130178958, 'education_High School or Below'),
 (0.023805501611235368, 'education_college'),
 (0.020274246776222464, 'gender_male'),
 (0.01986699331709372, 'education_Bachelor'),
 (0.019479294982300867, 'gender_female'),
 (0.0025936971501533874, 'education_Master or Above')]