In [2]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv(Path('resources/nmhss-puf-2019-Edited.csv'))
df.head()

,CASEID,MHINTAKE,MHDIAGEVAL,MHREFERRAL,SMISEDSUD,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE,LST
0,201900001,1,1,1,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,AK
1,201900002,1,1,1,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,AK
2,201900003,1,1,1,1,1,0,0,0,0,...,1,1,0,0,1,0,0,1,0,AK
3,201900004,1,1,1,1,1,0,0,0,0,...,1,1,0,0,1,0,0,1,0,AK
4,201900005,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,1,1,0,AK

In [4]:
df_2 = pd.read_csv(Path('resources/IncomeData_Edited.csv'))
df_2.head()

,LST,Geographic_Area_Name,County,STATE,id,Estimate_Households_Total,"Estimate_Households_Total_Less_than_10,000","Estimate_Households_Total_$10,000_to_$14,999","Estimate_Households_Total_$15,000_to_$24,999","Estimate_Households_Total_$25,000_to_$34,999",...,EstimateHouseholds!!Median income (dollars),Estimate_Families_Total,"Estimate_Families_Total_Less than $10,000","Estimate_Families_Total_$10,000_to_$14,999","Estimate_Families_Total_$15,000_to_$24,999","Estimate_Families_Total_$25,000_to_$34,999","Estimate_Families_Total_$200,000_or_more",EstimateFamilies!!Median income (dollars),Estimate_Families_Mean_income_$,Estimate!!Families!!PERCENT ALLOCATED!!Family income in the past 12 months
0,AL,"Baldwin County, Alabama",Baldwin County,Alabama,0500000US01003,82325,4.9,3.9,9.4,10.4,...,56439,53962,2.8,1.9,6.2,10.0,9.2,76892,97364,38.0
1,AL,"Calhoun County, Alabama",Calhoun County,Alabama,0500000US01015,44636,9.6,7.3,8.4,13.1,...,48156,28975,7.1,2.0,7.0,10.9,3.4,61918,75168,38.7
2,AL,"Cullman County, Alabama",Cullman County,Alabama,0500000US01043,32090,4.4,5.4,11.0,13.2,...,50906,23212,3.0,1.4,6.7,9.6,3.4,60886,72582,42.7
3,AL,"DeKalb County, Alabama",DeKalb County,Alabama,0500000US01049,24880,7.2,8.4,15.6,7.6,...,44208,16366,4.0,2.5,12.1,7.7,0.7,54871,66524,36.7
4,AL,"Elmore County, Alabama",Elmore County,Alabama,0500000US01051,30712,2.9,1.9,13.2,10.8,...,61854,21146,1.6,1.1,7.7,10.2,7.8,76574,96212,32.8

In [5]:
df_3=pd.merge(df,df_2, on='LST', how='right')
df_3

,CASEID,MHINTAKE,MHDIAGEVAL,MHREFERRAL,SMISEDSUD,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,EstimateHouseholds!!Median income (dollars),Estimate_Families_Total,"Estimate_Families_Total_Less than $10,000","Estimate_Families_Total_$10,000_to_$14,999","Estimate_Families_Total_$15,000_to_$24,999","Estimate_Families_Total_$25,000_to_$34,999","Estimate_Families_Total_$200,000_or_more",EstimateFamilies!!Median income (dollars),Estimate_Families_Mean_income_$,Estimate!!Families!!PERCENT ALLOCATED!!Family income in the past 12 months
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56439,53962,2.8,1.9,6.2,10.0,9.2,76892,97364,38.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48156,28975,7.1,2.0,7.0,10.9,3.4,61918,75168,38.7
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50906,23212,3.0,1.4,6.7,9.6,3.4,60886,72582,42.7
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44208,16366,4.0,2.5,12.1,7.7,0.7,54871,66524,36.7
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61854,21146,1.6,1.1,7.7,10.2,7.8,76574,96212,32.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15130,33988,29.8,13.2,15.7,11.5,1.3,18823,32219,38.2
299236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23005,77911,22.9,7.3,14.0,11.4,4.8,29661,54033,41.3
299237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28440,16964,13.6,4.3,18.7,12.4,0.2,36422,43905,73.1
299238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23368,18388,20.8,7.1,20.7,11.9,0.0,26195,34842,32.3
299239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32244,16082,8.6,7.8,14.4,13.0,3.8,40857,54171,45.2

In [6]:
df_3 = df_3.dropna(axis=0, subset=['CASEID'])

In [9]:
# displaying the DataFrame
print('df_3:\n', df_3)
   
# saving the DataFrame as a CSV file
MH_data = df_3.to_csv('EditedMHData.csv', index = True)

print('\nCSV String:\n', 'EditedMHData.csv')

df_3:
              CASEID  MHINTAKE  MHDIAGEVAL  MHREFERRAL  SMISEDSUD  TREATMT  \
21      201900001.0       1.0         1.0         1.0        1.0      1.0
22      201900002.0       1.0         1.0         1.0        1.0      1.0
23      201900003.0       1.0         1.0         1.0        1.0      1.0
24      201900004.0       1.0         1.0         1.0        1.0      1.0
25      201900005.0       1.0         1.0         1.0        1.0      1.0
...             ...       ...         ...         ...        ...      ...
299224  201912459.0       1.0         1.0         1.0        1.0      1.0
299225  201912460.0       0.0         1.0         1.0        0.0      0.0
299226  201912461.0       1.0         1.0         1.0        1.0      1.0
299227  201912462.0       1.0         1.0         1.0        1.0      1.0
299228  201912463.0       1.0         1.0         1.0        1.0      1.0

        ADMINSERV  SETTINGIP  SETTINGRC  SETTINGDTPH  ...  \
21            0.0        0.0        0.0          0.0  ...
22            1.0        0.0        0.0          0.0  ...
23            0.0        0.0        0.0          0.0  ...
24            0.0        0.0        0.0          0.0  ...
25            1.0        0.0        0.0          0.0  ...
...           ...        ...        ...          ...  ...
299224        1.0        0.0        0.0          0.0  ...
299225        1.0        1.0        0.0          0.0  ...
299226        1.0        0.0        0.0          0.0  ...
299227        1.0        0.0        0.0          0.0  ...
299228        0.0        0.0        0.0          0.0  ...

        EstimateHouseholds!!Median income (dollars)  Estimate_Families_Total  \
21                                            82716                    64798
22                                            82716                    64798
23                                            82716                    64798
24                                            82716                    64798
25                                            82716                    64798
...                                             ...                      ...
299224                                        65034                    22393
299225                                        65034                    22393
299226                                        65034                    22393
299227                                        65034                    22393
299228                                        65034                    22393

        Estimate_Families_Total_Less than $10,000  \
21                                            1.6
22                                            1.6
23                                            1.6
24                                            1.6
25                                            1.6
...                                           ...
299224                                        3.6
299225                                        3.6
299226                                        3.6
299227                                        3.6
299228                                        3.6

        Estimate_Families_Total_$10,000_to_$14,999  \
21                                             2.0
22                                             2.0
23                                             2.0
24                                             2.0
25                                             2.0
...                                            ...
299224                                         0.7
299225                                         0.7
299226                                         0.7
299227                                         0.7
299228                                         0.7

        Estimate_Families_Total_$15,000_to_$24,999  \
21                                             2.1
22                                             2.1
23                                             2.1
24                                             2.1
25                                             2.1
...                                            ...
299224                                         7.9
299225                                         7.9
299226                                         7.9
299227                                         7.9
299228                                         7.9

        Estimate_Families_Total_$25,000_to_$34,999  \
21                                             4.9
22                                             4.9
23                                             4.9
24                                             4.9
25                                             4.9
...                                            ...
299224                                         7.1
299225                                         7.1
299226                                         7.1
299227                                         7.1
299228                                         7.1

        Estimate_Families_Total_$200,000_or_more  \
21                                          14.7
22                                          14.7
23                                          14.7
24                                          14.7
25                                          14.7
...                                          ...
299224                                       5.6
299225                                       5.6
299226                                       5.6
299227                                       5.6
299228                                       5.6

        EstimateFamilies!!Median income (dollars)  \
21                                         104660
22                                         104660
23                                         104660
24                                         104660
25                                         104660
...                                           ...
299224                                      76487
299225                                      76487
299226                                      76487
299227                                      76487
299228                                      76487

        Estimate_Families_Mean_income_$  \
21                               131599
22                               131599
23                               131599
24                               131599
25                               131599
...                                 ...
299224                            89446
299225                            89446
299226                            89446
299227                            89446
299228                            89446

        Estimate!!Families!!PERCENT ALLOCATED!!Family income in the past 12 months
21                                                   32.0
22                                                   32.0
23                                                   32.0
24                                                   32.0
25                                                   32.0
...                                                   ...
299224                                               28.5
299225                                               28.5
299226                                               28.5
299227                                               28.5
299228                                               28.5

[299208 rows x 165 columns]

CSV String:
 EditedMHData.csv

In [10]:
mhWkfrceAvail_df = pd.read_csv(Path('resources/Mental_health_workforce_avaibility.csv'))
mhWkfrceAvail_df

    Rank                 State       Rate
0      1         Massachusetts      200-1
1      2  District of Columbia      230-1
2      3                 Maine      240-1
3      4               Vermont      260-1
4      5              Oklahoma      270-1
5      6                Oregon      270-1
6      7            New Mexico      280-1
7      8          Rhode Island      280-1
8      9                Alaska      300-1
9     10           Connecticut      300-1
10    11               Wyoming      330-1
11    12              Colorado      350-1
12    13            California      360-1
13    14            Washington      380-1
14    15         New Hampshire      390-1
15    16                  Utah      390-1
16    17                Montat      400-1
17    18              Nebraska      410-1
18    19              New York      420-1
19    20              Delaware      440-1
20    21        North Carolina      440-1
21    22                Hawaii      450-1
22    23              Michigan      450-1
23    24              Maryland      470-1
24    25             Minnesota      490-1
25    26              Arkansas      520-1
26    27                 Idaho      520-1
27    28                Kansas      550-1
28    29              Illinois      560-1
29    30              Kentucky      560-1
30    31                Nevada      570-1
31    32            New Jersey      570-1
32    33          Pennsylvania      580-1
33    34             Wisconsin      590-1
34    35              Missouri      600-1
35    36          North Dakota      610-1
36    37          South Dakota      630-1
37    38                  Ohio      640-1
38    39        South Carolina      650-1
39    40              Virginia      680-1
40    41               Florida      690-1
41    42               Indiana      710-1
42    43             Tennessee      750-1
43    44               Arizona      800-1
44    45             Louisinia      810-1
45    46                  Iowa      830-1
46    47           Mississippi      830-1
47    48               Georgia      850-1
48    49         West Virginia      910-1
49    50                 Texas      990-1
50    51               Alabama    1,200-1
51    52              National  539:01:00

In [11]:
mhWkfrceAvail_df.dtypes

Rank      int64
State    object
Rate     object
dtype: object

In [13]:
indicators_cdc_data = 'resources/Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days.csv'
cdc_indicators_df = pd.read_csv(indicators_cdc_data)
cdc_indicators_df

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,23.2,21.5,25.0,21.5 - 25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5779,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,3 (Jan 6 ï¿½ Mar 29),27,Mar 17 - Mar 29,03/17/2021 12:00:00 AM,03/29/2021 12:00:00 AM,31.4,27.2,35.9,27.2 - 35.9,24.9-32.0
5780,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,3 (Jan 6 ï¿½ Mar 29),27,Mar 17 - Mar 29,03/17/2021 12:00:00 AM,03/29/2021 12:00:00 AM,35.6,32.9,38.5,32.9 - 38.5,34.8-36.2
5781,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,3 (Jan 6 ï¿½ Mar 29),27,Mar 17 - Mar 29,03/17/2021 12:00:00 AM,03/29/2021 12:00:00 AM,41.0,35.1,47.0,35.1 - 47.0,36.3-42.6
5782,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3 (Jan 6 ï¿½ Mar 29),27,Mar 17 - Mar 29,03/17/2021 12:00:00 AM,03/29/2021 12:00:00 AM,32.3,28.3,36.4,28.3 - 36.4,32.1-34.7
5783,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3 (Jan 6 ï¿½ Mar 29),27,Mar 17 - Mar 29,03/17/2021 12:00:00 AM,03/29/2021 12:00:00 AM,35.6,28.8,43.0,28.8 - 43.0,34.8-36.2

In [14]:
kff_data = 'resources/kff_2018-19_adults_reporting_MI_yr.csv'
kff_data_df = pd.read_csv(kff_data)
kff_data_df

,Location,Adults Reporting Any Mental Illness in the Past Year,Adults Reporting Serious Mental Illness in the Past Year
0,United States,0.199,0.049
1,Alabama,0.213,0.056
2,Alaska,0.215,0.059
3,Arizona,0.201,0.056
4,Arkansas,0.203,0.055
5,California,0.195,0.045
6,Colorado,0.232,0.055
7,Connecticut,0.189,0.045
8,Delaware,0.209,0.054
9,District of Columbia,0.228,0.049
10,Florida,0.172,0.043
11,Georgia,0.179,0.045
12,Hawaii,0.175,0.042
13,Idaho,0.225,0.053
14,Illinois,0.192,0.045
15,Indiana,0.223,0.054
16,Iowa,0.185,0.054
17,Kansas,0.206,0.057
18,Kentucky,0.225,0.058
19,Louisiana,0.212,0.053
20,Maine,0.221,0.060
21,Maryland,0.176,0.045
22,Massachusetts,0.212,0.052
23,Michigan,0.203,0.050
24,Minnesota,0.205,0.049
25,Mississippi,0.202,0.052
26,Missouri,0.227,0.056
27,Montana,0.208,0.052
28,Nebraska,0.203,0.049
29,Nevada,0.220,0.056
30,New Hampshire,0.224,0.049
31,New Jersey,0.164,0.041
32,New Mexico,0.214,0.053
33,New York,0.195,0.044
34,North Carolina,0.193,0.048
35,North Dakota,0.205,0.050
36,Ohio,0.236,0.063
37,Oklahoma,0.225,0.054
38,Oregon,0.238,0.057
39,Pennsylvania,0.197,0.049
40,Rhode Island,0.224,0.051
41,South Carolina,0.194,0.049
42,South Dakota,0.183,0.053
43,Tennessee,0.194,0.054
44,Texas,0.172,0.043
45,Utah,0.269,0.063
46,Vermont,0.223,0.058
47,Virginia,0.186,0.045
48,Washington,0.234,0.055
49,West Virginia,0.246,0.058
50,Wisconsin,0.202,0.053
51,Wyoming,0.226,0.055

In [15]:
ACSST1Y2019 = 'resources/ACSST1Y2019.S1901_data_with_overlays_2021-04-16T050752.csv'
ACSST1Y2019_df = pd.read_csv(ACSST1Y2019)
ACSST1Y2019_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,0500000US01003,"Baldwin County, Alabama",82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,...,37494,5940,48871,5729,(X),(X),(X),(X),30.1,(X)
2,0500000US01015,"Calhoun County, Alabama",44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,...,26143,3350,32609,4229,(X),(X),(X),(X),35.7,(X)
3,0500000US01043,"Cullman County, Alabama",32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,...,22464,3132,28508,2622,(X),(X),(X),(X),37.1,(X)
4,0500000US01049,"DeKalb County, Alabama",24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,...,21213,4028,36416,10258,(X),(X),(X),(X),36.0,(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0500000US72113,"Ponce Municipio, Puerto Rico",52837,1952,36.3,2.5,13.5,2.1,16.0,2.5,...,9801,1113,18260,2810,(X),(X),(X),(X),34.6,(X)
837,0500000US72127,"San Juan Municipio, Puerto Rico",138800,3232,29.1,1.6,8.8,1.3,14.8,1.5,...,15027,1536,27875,2579,(X),(X),(X),(X),34.6,(X)
838,0500000US72135,"Toa Alta Municipio, Puerto Rico",22650,1148,20.1,4.5,8.2,3.1,16.8,4.6,...,11603,2296,21261,7449,(X),(X),(X),(X),67.3,(X)
839,0500000US72137,"Toa Baja Municipio, Puerto Rico",28291,1322,22.3,4.0,10.1,2.9,19.9,3.4,...,16320,3498,22178,2792,(X),(X),(X),(X),21.5,(X)
840,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",23263,1267,16.3,4.5,9.5,3.3,16.1,4.1,...,14796,4434,N,N,(X),(X),(X),(X),25.2,(X)