In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import password
import psycopg2
import pandas.io.sql as sqlio

In [2]:

param_dic={
    "host": "mht.ciic7sa0kxc0.us-west-2.rds.amazonaws.com",
    "database": "postgres",
    "user" : "postgres",
    "password" : password
}

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

conn = connect(param_dic)

Connecting to the PostgreSQL database...
Connection successful

In [7]:
query="select * from survey"

survey_df=sqlio.read_sql_query(query,conn)

survey_df.head()

   SurveyID                    Description
0      2014  mental health survey for 2014
1      2016  mental health survey for 2016
2      2017  mental health survey for 2017
3      2018  mental health survey for 2018
4      2019  mental health survey for 2019

In [5]:
query="select * from survey_2014"

survey2014_df=sqlio.read_sql_query(query,conn)

survey2014_df.head()

,index,age,gender,country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,0,37,Female,United States,IL,None,No,Yes,Often,25-Jun,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,None
1,1,44,M,United States,IN,None,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,None
2,2,32,Male,Canada,None,None,No,No,Rarely,25-Jun,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,None
3,3,31,Male,United Kingdom,None,None,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,None
4,4,31,Male,United States,TX,None,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,None

In [6]:
query="select * from survey_2016"

survey2016_df=sqlio.read_sql_query(query,conn)

survey2016_df.head()

,SurveyID,new_id,self_employed,company_size,tech_company,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,...,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote,quantile_age_1,quantile_age_2
0,2016,1,0,26-100,1,Not eligible for coverage / N/A,I am not sure,No,No,I don't know,...,39,male,United Kingdom,none,United Kingdom,none,Back-end Developer,Sometimes,"(38.0, 99.0]","(37.0, 39.0]"
1,2016,2,0,25-Jun,1,No,Yes,Yes,Yes,Yes,...,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never,"(28.0, 32.0]","(27.0, 29.0]"
2,2016,3,0,25-Jun,1,No,I am not sure,No,No,I don't know,...,38,male,United Kingdom,none,United Kingdom,none,Back-end Developer,Always,"(32.0, 38.0]","(37.0, 39.0]"
3,2016,4,0,25-Jun,0,Yes,Yes,No,No,No,...,43,female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes,"(38.0, 99.0]","(39.0, 44.0]"
4,2016,5,0,More than 1000,1,Yes,I am not sure,No,Yes,Yes,...,42,male,United Kingdom,none,United Kingdom,none,DevOps/SysAdmin|Support|Back-end Developer|Fro...,Sometimes,"(38.0, 99.0]","(39.0, 44.0]"

In [3]:
query="select * from survey_2017"

survey2017_df=sqlio.read_sql_query(query,conn)

survey2017_df.head()

,SurveyID,self_employed,company_size,tech_or_not,related_tech_it,employer_provide_mh_coverage,employer_discus_mh,employers_options_help,protected_anonymity_mh,leave,...,suportive_response_to_mh,tech_industry_support_mh,age,gender,country_live,state_live,ethnicity,country_work,state_work,key
0,2017,0,100-500,1.0,1.0,No,No,I don't know,I don't know,I don't know,...,"Yes, I experienced",1.0,27.0,Female,United Kingdom,None,None,United Kingdom,None,45
1,2017,0,100-500,1.0,1.0,Yes,No,No,I don't know,I don't know,...,Maybe/Not sure,2.0,31.0,male,United Kingdom,None,None,United Kingdom,None,45
2,2017,0,25-Jun,1.0,1.0,I don't know,I don't know,No,Yes,Difficult,...,"Yes, I experienced",1.0,36.0,male,United States of America,Missouri,White,United States of America,Missouri,45
3,2017,0,More than 1000,1.0,1.0,Yes,I don't know,I don't know,Yes,Difficult,...,Maybe/Not sure,2.0,22.0,Male,United States of America,Washington,White,United States of America,Washington,45
4,2017,1,None,NaN,NaN,None,None,None,None,None,...,"Yes, I observed",1.0,52.0,female,United States of America,Illinois,More than one of the above,United States of America,Illinois,45

In [4]:
query="select * from survey_2019"

survey2019_df=sqlio.read_sql_query(query,conn)

survey2019_df.head()

,SurveyID,self_employed,company_size,tech_or_not,tech_it,employer_provide_coverage,mh_care_options_coverage,wellness_program_discuss,resources_mh_help,anonymity_protected_mh_treatment,...,employer_suportive_response_mh,tech_industry_support_mh_issues,age,gender,country_live,state_live,ethnicity,country_work,state_work,key
0,2019,False,26-100,True,True,I don't know,No,Yes,Yes,I don't know,...,Maybe/Not sure,4,25,Male,United States of America,Nebraska,White,United States of America,Nebraska,45
1,2019,False,26-100,True,True,Yes,No,No,Yes,Yes,...,"Yes, I experienced",1,51,male,United States of America,Nebraska,White,United States of America,Nebraska,45
2,2019,False,26-100,True,True,I don't know,No,No,I don't know,I don't know,...,"Yes, I observed",2,27,Male,United States of America,Illinois,White,United States of America,Illinois,45
3,2019,False,100-500,True,True,I don't know,No,Yes,Yes,Yes,...,"Yes, I observed",3,37,male,United States of America,Nebraska,White,United States of America,Nebraska,45
4,2019,False,26-100,True,True,I don't know,No,I don't know,I don't know,I don't know,...,No,3,46,m,United States of America,Nebraska,White,United States of America,Nebraska,45